body.light {
  background-color: var(--c-light-bg);
  color: var(--c-light-text);
}

body.light select {
  background-color: var(--c-light-bg-darker);
}

body.light #site-intro,
body.light #site-footer,
body.light #game-container {
  background-color: var(--c-light-bg-darker);
}

body.light #theme-toggle-button {
  background-color: var(--c-dark-bg);
}
